@import url('./reset.css');

:root {
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

@font-face {
    font-family: 'Space Grotesk Medium';
    src: url('./SpaceGrotesk-Medium.woff') format('woff'),
        url('./SpaceGrotesk-Medium.ttf') format('ttf');
}

* {
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.body::-webkit-scrollbar {
    display: none;
}

body {
    direction: ltr;
    font-size: 18px;
    font-family: 'Space Grotesk Medium';
    background-color: #f2f2f2;

}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .cards-parent {
    min-height: 100vh;
    width: 49%;
    background-image: linear-gradient(to bottom right, #230b30, #4a1e43, #322250);
    background-size: 66% auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;
}

.cards {
    min-width: 541px;
    min-height: 527px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cards .front-image,
.back-image {
    width: 100%;
    height: 45%;
    position: relative;

}

.cards .front-image {
    display: flex;
    align-items: center;
    justify-content: left;
}

.cards .front-image img {
    height: 100%;
    border-radius: 10px;
}

.cards .back-image img {
    height: 100%;
    border-radius: 10px;
}

.cards .front-image #card-number {
    width: 388px;
    bottom: 65px;
    position: absolute;
    height: 36px;
    color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: left;
    margin-left: 32px;
}

.cards .front-image .information {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 383.14px;
    font-size: 18px;
    bottom: 25px;
    margin-left: 31px;
}

.cards .front-image .information #host-name {
    letter-spacing: 3px;
}

.cards .front-image .information #date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards .front-image .information #date p {
    letter-spacing: 3px;
}

.cards .back-image {
    position: relative;
    text-align: right;
}


.cards .back-image #cvc-num {
    position: absolute;
    bottom: 47%;
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
    font-size: medium;
    right: 13%;
}


.form-layout {
    width: 49%;
    display: flex;
    justify-content: left;
}

.form-layout form {
    width: 381px;
    overflow: visible;
    margin-left: 110px;
    text-align: center;
}


.form-layout form span.error {
    font-size: 12px;
    color: var(--Red);
    height: 16px;
    display: block;
    padding-left: 3px;
    text-align: left;
}

.form-layout #num-error,
#name-error {
    position: absolute;
}

.form-layout label {
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
    color: var(--Very-dark-violet);

}

.form-layout form .input {
    width: 100%;
    margin-bottom: 26px;
    text-align: left;
    height: 92px;
}

.form-layout input {
    font-family: 'Space Grotesk Medium';
    width: 92%;
    height: 45px;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    padding-left: 17px;
    font-size: 18px;
    color: var(--Very-dark-violet);
    font-weight: 500;
    margin-top: 9px;
    margin-bottom: 9px;
    border: 1px solid;
    border-color: var(--Light-grayish-violet);
    background-color: #fff;
}

.form-layout #info-form input:focus {
    outline: none;
    border-radius: 8px;
    border-top-color: hsl(249, 99%, 64%);
    border-left-color: hsl(249, 99%, 64%);
    border-right-color: hsl(278, 94%, 30%);
    border-bottom-color: hsl(278, 94%, 30%);

}

.form-layout input:valid {
    background: #fff;
}

.form-layout input::placeholder {
    color: var(--Light-grayish-violet);
    font-size: 18px;
}

.form-layout .info {
    height: 105px;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 26px;
    flex-direction: row;
}

.form-layout .info .date {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 47%;
}

.form-layout .info .date label {
    line-height: 16px;
}

.form-layout .info .date .month-year {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}


.form-layout .info .date .month-year #year {
    margin-left: 8px;
}


.form-layout .info .cvc {

    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 7px;

}

.form-layout .info .cvc label {
    margin-bottom: 5px;
}


.form-layout .info .cvc #cvc-error {
    margin-top: 6px;
}

.form-layout .info .date .month-year input:focus {
    outline: none;
    border-radius: 8px;
    border-top-color: hsl(249, 99%, 64%);
    border-left-color: hsl(249, 99%, 64%);
    border-right-color: hsl(278, 94%, 30%);
    border-bottom-color: hsl(278, 94%, 30%);
}

.form-layout .info .cvc input:focus {
    outline: none;
    border-radius: 8px;
    border-top-color: hsl(249, 99%, 64%);
    border-left-color: hsl(249, 99%, 64%);
    border-right-color: hsl(278, 94%, 30%);
    border-bottom-color: hsl(278, 94%, 30%);
}

.form-layout button {
    width: 98%;
    height: 53px;
    background-color: var(--Very-dark-violet);
    color: #fff;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 18px;
    margin-right: 10px;
    float: left;
}

.form-layout button:hover {
    background-color: #f2f2f2;
    color: var(--Very-dark-violet);
    border: 1px solid var(--Very-dark-violet);
}


.form-layout .don {
    width: 381px;
    height: 291px;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 70px;
    text-align: center;
}

.form-layout .don .alert {
    width: 381px;
    height: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.form-layout .don .alert .thanks {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form-layout .don .alert .thanks :nth-child(1) {
    font-size: 28px;
    color: var(--Very-dark-violet);
}

.form-layout .don .alert .thanks :nth-child(2) {
    font-size: 18px;
    color: var(--Dark-grayish-violet);
}

.form-layout .don .alert button {
    width: 96%;
    height: 53px;
    background-color: var(--Very-dark-violet);
    font-family: 'Space Grotesk Medium';
}

.form-layout .don .alert button:hover {
    background-color: #f2f2f2;
    border-radius: 0px;
    color: var(--Very-dark-violet);
    border: 1px solid var(--Very-dark-violet);
}


@media screen and (max-width:1100px) {
    .container .cards-parent {
        background-size: 79% auto;
    }

    .cards {
        min-width: 447px;
        min-height: 511px;

    }

    .cards .back-image img {
        width: 447px;
        height: 245px;
    }
}

@media screen and (max-width:1020px) {
    .container .cards-parent {
        width: 50%;
    }

    .cards {
        min-height: 486px;
        align-items: flex-end;
    }

    .cards .front-image,
    .back-image {
        width: 93%;
    }

    .cards .front-image img {
        height: 219px;
    }

    .cards .front-image #card-number {
        bottom: 56px;
        font-size: 28px;
        margin-left: 21px;
    }

    .cards .front-image .information {
        margin-left: 9px;
        font-size: 16px;
    }

    .cards .back-image {
        text-align: left;
    }

    .cards .back-image img {
        width: 399px;
        height: 219px;
    }

    .form-layout form {
        margin-left: 0;
    }

    .form-layout {
        justify-content: center;
    }

    .form-layout .don {
        margin-left: 40px;
    }

    .form-layout .don .alert button {
        width: 80%;
        height: 47px;
        font-size: 14px;
    }
}

@media only screen and (max-width:857px) {

    .container {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .container .cards-parent {
        width: 100%;
        min-height: 283px;
        background-image: linear-gradient(to bottom right, #230b30, #4a1e43, #322250);
        background-size: auto 240px;
        justify-content: center;
    }

    .container .cards {
        width: 343px;
        min-height: 251px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        margin-top: 32px;
    }

    .container .cards .back-image {
        width: 286px;
        height: 157px;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
    }

    .cards .back-image #cvc-num {
        font-size: 11px;
        bottom: 77px;
        right: 38px;
    }

    .container .cards .front-image {
        width: 286px;
        height: 157px;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 93px;
        z-index: 1;
    }

    .cards .front-image img {
        height: 157px;
        width: 93%;
    }

    .cards .front-image #card-number {
        font-size: 16px;
        bottom: 32px;
        width: 237px;
        margin-left: 27px;
    }

    .cards .front-image .information {
        bottom: 16px;
        width: 237.14px;
        margin-left: 13px;
    }

    .cards .back-image img {
        width: 95%;
        height: auto;
    }

    .cards .front-image .information p {
        font-size: 9px;
    }

    .form-layout {
        width: 100vw;
        position: relative;
        text-align: center;
        margin-right: 0;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
        ;
    }

    .form-layout form {
        width: 327px;
        margin-left: 0;
    }

    .form-layout form .input {
        width: 100%;
        height: 101px;
        margin-bottom: 12px;
    }

    .form-layout .input input {
        width: 92%;
    }

    .form-layout form .input #cant {
        position: absolute;
    }

    .form-layout form .input label {
        padding-left: 0;
    }

    .form-layout button {
        width: 325px;
        height: 50px;
    }

    .form-layout .info {
        width: 100%;
        height: 96px;
        margin-bottom: 16px;
        margin-top: 12px;
    }

    .form-layout .info .date {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 95px;
        width: 161px;
    }

    .form-layout .info .date label {
        padding-left: 1px;
        color: var(--Very-dark-violet);
        font-size: 10px;
    }

    .form-layout .info .date #month-error {
        margin-top: 2px;
    }


    .form-layout .info .cvc #cvc-error {
        margin-top: 8px;
    }

    .form-layout form span.error {
        margin-top: 2px;
    }

    .form-layout label {
        font-size: 11px;
    }

    .form-layout .info .cvc {
        height: 95px;
        width: 155px;
        padding-right: 3px;
    }

    .form-layout .info .cvc label {
        line-height: 16px;
    }

    .form-layout .info .cvc input {
        width: 86%;
        margin-bottom: -2px;
        margin-top: 3px
            /* height: 45px; */
    }

    .form-layout .don .alert button {
        width: 300px;
        height: 47px;
        font-size: 14px;
        overflow: visible;
    }

    .form-layout .don {
        width: 320px;
        margin-left: 0;
    }


}

@media screen and (max-width:490px) {
    .container .cards {
        min-width: 300px;
    }
}
